<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiuAiABxYrg_hF0ZU7M_WeCtpS_pqnQVA</string>
	<key>GCM_SENDER_ID</key>
	<string>502894954661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.morteza.chatapp</string>
	<key>PROJECT_ID</key>
	<string>my-project-costumer</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-costumer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502894954661:ios:7a12df210cfaf155b3e54c</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-costumer.firebaseio.com</string>
</dict>
</plist>